.fullwidth img {
	width: 100%;
}

.budokon img {
	margin-top: 100px;
}
.zemljevid img {
	margin-top: 50px;
}

.bg-white {
	background-color: white;
}
.bg-white a {
	color: #a69349;
}
.bg-white a:hover {
	color: #c8b258;
}

#program p {
	text-align: justify;
}
#program .row .row {
	margin-top: 70px;
}

iframe {
	border: 10px solid black;
}

.zemljevid img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 100%;
}
.zemljevid img:hover {
	opacity: 1;
	filter: alpha(opacity=80);
}

.bg-white {
	color: #333333;
}

#cenik .col-lg-6 {
	text-align: left;
}

#budokon {
    background-color: #ffffff;
}

#image-band { padding-top: 5px; padding-bottom: 0; }
#image-band .col-lg-2 { padding-left: 0; padding-right: 0; }
#image-band .col-md-2 { padding-left: 0; padding-right: 0; }
#image-band .col-sm-4 { padding-left: 0; padding-right: 0; }
#image-band img { width: 100%; }

video#videohead {
    position: relative;
    width: 100%;
    height: auto;
}

#unmute-mute {
    position: absolute;
    right: 5%;
    margin-top: -100px;
}

#unmute-mute button {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    font-size: 2rem;
}
#unmute-mute .fa-volume-off { margin-left: -5px; }
#unmute-mute .muted .fa-volume-up { display: none; }
#unmute-mute .muted .fa-volume-off { display: inline-block; }
#unmute-mute .unmuted .fa-volume-off { display: none; }
#unmute-mute .unmuted .fa-volume-up { display: inline-block; }


.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}