.fullwidth img {
	width: 100%;
}

.budokon img {
	margin-top: 100px;
}
.zemljevid img {
	margin-top: 50px;
}

.bg-white {
	background-color: white;
}
.bg-white a {
	color: #a69349;
}
.bg-white a:hover {
	color: #c8b258;
}

#program p {
	text-align: justify;
}
#program .row .row {
	margin-top: 70px;
}

iframe {
	border: 10px solid black;
}

.zemljevid img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 100%;
}
.zemljevid img:hover {
	opacity: 1;
	filter: alpha(opacity=80);
}

.bg-white {
	color: #333333;
}

#cenik .col-lg-6 {
	text-align: left;
}

#budokon {
    background-color: #ffffff;
}