@font-face {
    font-family: FuturaBd;
    src: local(FuturaBd), url('../font/FtraBd_.ttf') format('opentype');
}

@font-face {
    font-family: FuturaBk;
    src: local(FuturaBk), url('../font/FtraBk_.ttf') format('opentype');
}

@font-face {
    font-family: FuturaHv;
    src: local(FuturaHv), url('../font/FtraHv_.ttf') format('opentype');
}

@font-face {
    font-family: FuturaLt;
    src: local(FuturaLt), url('../font/FtraLt_.ttf') format('opentype');
}

@font-face {
    font-family: FuturaMd;
    src: local(FuturaMd), url('../font/FtraMd_.ttf') format('opentype');
}
